body {
    background: linear-gradient(rgb(109, 161, 185), rgb(219, 241, 243));
    color: var(--ch-color);
    transition: .5s;
}

:root {
    --nbg-color: white;
    --nch-color: black;
    --ch-color: black;
    --ach-color: rgb(97, 97, 97);
    --tb-color: white;
    --ic-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --nbg-color: black;
        --nch-color: white;
        --ch-color: white;
        --ach-color: rgb(189, 189, 189);
        --tb-color: black;
        --ic-color: white;
    }

    body {
        background: linear-gradient(rgb(65, 79, 116), rgb(77, 142, 167), rgb(187, 118, 39));
    }
}

a {
    color: var(--ach-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.top {
    background-color: var(--tb-color);
}

.bottom {
    background-color: var(--tb-color);
}

.icon {
    background-color: var(--ic-color);
}

.snsicon {
    background-color: var(--ic-color);
}

.chicon {
    background-color: rgb(255, 255, 255);
}

.warn {
    background-color: var(--nbg-color);
    color: nc;
}

.warnb {
    background-color: var(--nbg-color);
    color: var(--nch-color);
}

.load {
    background-color: var(--nbg-color);
    color: var(--nch-color);
}

.loadmark {
    background-color: var(--nbg-color);
    color: var(--nch-color);
}