/* レイアウトなどを指定するcss */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');

* {
    transition: .2s;
}

body {
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

ul {
    padding-left: 0;
}

ul li {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

td {
    padding: 10px;
}

/* class */

.hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    z-index: 100;
    opacity: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.tiicon {
    border-radius: 20px;
}

.top {
    text-align: center;
}

.about {
    text-align: center;
}

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    padding: 7px;
    top: 0%;
    left: 0%;
    vertical-align: middle;
    display: flex;
}

.logo {
    margin: auto auto auto 0;
}

.navul {
    margin: auto;
    margin-right: 0;
}

.garally {
    width: fit-content;
    margin: auto;
}

.noli {
    list-style: none;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    max-height: 34px;
    min-height: 34px;
}

.noli:hover {
    border-radius: 10px;
}

.center {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.shadow {
    opacity: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* id */
