@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+JP&display=swap');

@keyframes warn {
    0% {
        bottom: 18%;
        right: -100%;
    }
    10% {
        bottom: 18%;
        right: 5%;
    }
    90% {
        bottom: 18%;
        right: 5%;
    }
    100% {
        bottom: 18%;
        right: -100%;
    }
}

@keyframes load {
    0% {
        bottom: 10%;
        right: -100%;
    }
    10% {
        bottom: 10%;
        right: 5%;
    }
    90% {
        bottom: 10%;
        right: 5%;
    }
    100% {
        bottom: 10%;
        right: -100%;
    }
}

@keyframes none {
    0% {
        bottom: 10%;
        right: -100%;
    }
    100% {
        bottom: 10%;
        right: -100%;
    }
}

@keyframes fade{
    0%{
        opacity: 100%;
    }
    99%{
        z-index: 10000;
        opacity: 0%;
    }
    100%{
        z-index: -10000;
    }
}

@keyframes fade-b{
    0%{
        opacity: 0%;
        display:none;
    }
    50%{
        opacity: 0%;
        display:none;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes viewb {
    0% {
        opacity: 0%;
        height: 0%;
    }
    100% {
        opacity: 90%;
        z-index: 10000;
        height: 100%;
    }
}

@keyframes viewbf {
    0% {
        opacity: 0%;
        height: 0%;
    }
    100% {
        opacity: 100%;
        z-index: 10000;
        height: 100%;
    }
}

@keyframes viewbu {
    0% {
        z-index: 10000;
        opacity: 90%;
        height: 100%;
    }
    99% {
        z-index: 10000;
    }
    100% {
        opacity: 0%;
        z-index: -10000;
        height: 0%;
    }
}

@keyframes viewbuf {
    0% {
        z-index: 10000;
        opacity: 100%;
        height: 100%;
    }
    99% {
        z-index: 10000;
    }
    100% {
        opacity: 0%;
        z-index: -10000;
        height: 0%;
    }
}

.font {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 500;
}

body {
    text-align: center;
    background: linear-gradient(rgb(90, 90, 90), rgb(0, 0, 0));
    color: white;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    animation-iteration-count: infinite;
    color: gainsboro;

}

iframe {
    border-radius: 10px;
    transition: .1s;
}

iframe:hover {
    border-radius: 0px;
}

.padd {
    padding-top: 100px;
}

.padds {
    padding-top: 10px;
}

.top {
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(40, 40, 40);
}

.icon {
    border-radius: 10px;
    transition: .1s ease-in-out;
    background-color: gainsboro;
}

.icon:hover {
    border-radius: 0px;
}

.chicon {
    border-radius: 10px;
    transition: .1s ease-in-out;
    background-color: rgb(255, 255, 255);
}

.chicon:hover {
    border-radius: 0px;
}

.snsicon {
    border-radius: 7px;
    transition: .1s ease-in-out;
    background-color: gainsboro;
}

.snsicon:hover {
    border-radius: 0px;
}

.bottom {
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(40, 40, 40);
}

.warnb {
    position: fixed;
    background-color: white;
    color: black;
    padding: 50px;
    cursor: pointer;
    height: 500px;
    width: 300px;
    z-index: -10000;
    opacity: 0%;
}

.f5 {
    position: fixed;
    background-color: white;
    color: black;
    padding: 50px;
    cursor: pointer;
    height: 500px;
    width: 300px;
    z-index: -10000;
    opacity: 0%;
}
/* ロード完了表示 */
.load {
    background-color: white;
    color: black;
    position: fixed;
    padding: 10px;
    border-radius: 7px;
    animation-duration: 8s;
    bottom: 10%;
    right: -100%;
    z-index: 100;
}
/* 画面サイズ警告 */
.warn {
    background-color: white;
    color: black;
    position: fixed;
    padding: 10px;
    border-radius: 7px;
    animation-duration: 8s;
    bottom: 18%;
    right: -100%;
    cursor: pointer;
    z-index: 100;
}

.loadmark {
    background-color: white;
    color: black;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    cursor: wait;
}

.okload {
    opacity: 0%;
    animation-duration: .5s;
    animation-name: fade;
    z-index: -10000;
}

.okload-b {
    animation-duration: .5s;
    animation-name: fade-b;
}

.ibox{
    display:none;
}

.viewb {
    z-index: 10000;
    opacity: 90%;
    animation-duration: .25s;
    animation-name: viewb;
    width: 100%;
    height: 100%;
}

.viewbf {
    z-index: 10000;
    opacity: 100%;
    animation-duration: .25s;
    animation-name: viewbf;
    width: 100%;
    height: 100%;
}

.viewbu {
    z-index: -10000;
    opacity: 0%;
    animation-duration: .25s;
    animation-name: viewbu;
    width: 100%;
    height: 100%;
}

.viewbuf {
    z-index: -10000;
    opacity: 0%;
    animation-duration: .25s;
    animation-name: viewbuf;
    width: 100%;
    height: 100%;
}

.black {
    color: black;
}

.maincnt{
    position: fixed;
}

.blog{
    position: fixed;
}

@keyframes viewanim {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hideanim {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.viewcnt{
    z-index: 0;
    opacity: 100%;
    animation-name: viewanim;
    animation-duration: .5s;
    position: sticky;
}

.hidecnt{
    z-index: -10000;
    opacity: 0%;
    animation-name: hideanim;
    animation-duration: .5s;
    position: fixed;
}