/* レイアウトなどを指定するcss */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');

* {
    transition: .4s;
}

body {
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: auto;
    font-family: 'IBM Plex Sans JP', sans-serif;
    overflow-x: hidden;
}

ul {
    padding-left: 0;
}

ul li {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

td {
    padding: 10px;
}

/* class */

.hover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    z-index: 10000;
    opacity: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.js {
    z-index: 10001;
}

#hover {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    z-index: -1;
    opacity: 0%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.tiicon {
    border-radius: 20px;
}

.top {
    text-align: center;
}

.about {
    text-align: center;
}

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 48px;
    padding: 7px;
    left: 0%;
    vertical-align: middle;
    display: flex;
}

.high {
    top: 0%;
}

.under {
    bottom: 0%;
}

.logo {
    margin: auto auto auto 0;
}

.navul {
    margin: auto;
    margin-right: 0;
}

.garally {
    width: fit-content;
    margin: auto;
}

.leftp {
    margin-left: 5px;
}

.noli {
    list-style: none;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    max-height: 34px;
    min-height: 34px;
}

.noli:hover {
    border-radius: 10px;
}

.center {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.katate {
    animation-duration: 4s;
}

.shadow {
    opacity: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.load {
    transform: translate(-30%);
    opacity: 0%;
}

.next {
    transform: translate(30%);
    opacity: 0%;
    z-index: -1;
}

.hide {
    opacity: 90% !important;
    z-index: 100 !important;
}

.hidee {
    opacity: 0%;
}

.loading {
    transform: translate(-50%, -50%);
}

@keyframes load {
    0% {
        opacity: 0%;
        z-index: 100;
    }
    10% {
        opacity: 90%;
        z-index: 100;
    }
    90% {
        opacity: 90%;
        z-index: 100;
    }
    100% {
        opacity: 0%;
        z-index: 100;
    }
}
/* id */
