<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta charset="utf-8">
<title>ゲーム１</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="main.js"></script>
<link rel="manifest" crossorigin="use-credentials" href="manifest.json" />

    <style>

        #table {

            margin:0 auto;
            border-collapse: collapse;
            border: 3px solid #ccc;

        }

        #table td {

            border:1px solid #ccc;
            height: 80px;
            width: 80px;
            text-align: center;
            vertical-align: middle;
            font-size: 75px;
            cursor: pointer;

        }

    </style>

</head>
<body>
    <section id="area-1">
<header id="header">
<h1>
<p>ゲーム１</p>
</h1>
    <div id="header-img"></div>
<div class="scrolldown4"><span></span></div>
</header></section>
<div class="openbtn"><span></span><span></span><span></span></div>
<nav id="g-nav">
<div id="g-nav-list">
<ul>
<li><div id="scroll_to_top"><a href="/game/title.html">戻る</a></div></li> 
</ul>
</div>
</nav>
<main id="container">
    <section id="area-2">
<div class="container">
<h2>丸罰ゲーム</h2>
    <div id="app">
        <table id="table">
            <tr v-for="(row,rowsIndex) in states">
                <td v-for="(state,colsIndex) in row" @click="onSelect(rowsIndex, colsIndex)">
                    <div style="color:#f00;" v-if="state==1">丸</div>
                    <div style="color:#00f;" v-if="state==2">罰</div>
                </td>
            </tr>
        </table>
        <br>
        <div style="text-align:center;">
            <div style="color:#f00;" v-if="playerId==1">「○ プレイヤーさん、マスを選んでください」</div>
            <div style="color:#00f;" v-if="playerId==2">「× プレイヤーさん、マスを選んでください」</div>
        </div>
        <br>
        <div v-if="winnerText" style="text-align:center;">
            <h2 v-text="おめおめ"></h2>
        
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>

    <script>

        new Vue({
            el: '#app',
            data: {
                states: [], // 初期値はmountedの中で設定
                playerId: 1, // ○ のプレイヤーから開始,
                winnerText: ''
            },
            methods: {
                init: function() {

                    this.states = [
                        [-1, -1, -1],
                        [-1, -1, -1],
                        [-1, -1, -1]
                    ];

                },
                onSelect: function(rowsIndex, colsIndex) {

                    this.winnerText = '';

                    if(this.states[rowsIndex][colsIndex] != -1) {

                        alert('そのマスは、すでに選択されています！');

                    } else {

                        var states = JSON.parse(JSON.stringify(this.states))
                        states[rowsIndex][colsIndex] = this.playerId;
                        this.states = states;
                        this.playerId = (this.playerId == 1) ? 2 : 1;
                        var winnerId = this.getWinnerId();

                        if(winnerId != -1) {

                            this.init();
                            playerIds = {
                                1: '○',
                                2: '×'
                            };
                            this.winnerText = playerIds[winnerId] +' さんの勝ちです。おめでとうございます！';

                        } else if(this.isDraw()) {

                            this.init();
                            alert('引き分けです！');

                        }

                    }

                },
                getWinnerId: function() {

                    for(var i = 0; i < 3 ; i++){

                        // 横の列
                        var row = this.states[i];
                        if(this.isStatesFilled(row)) { return row[0];}

                        // 縦の列
                        var col = [
                            this.states[0][i],
                            this.states[1][i],
                            this.states[2][i]
                        ];
                        if(this.isStatesFilled(col)) { return this.states[0][i]; }

                    }

                    // ななめ
                    var skew1 = [
                        this.states[0][0],
                        this.states[1][1],
                        this.states[2][2]
                    ];
                    if(this.isStatesFilled(skew1)) { return this.states[0][0]; }

                    var skew2 = [
                        this.states[0][2],
                        this.states[1][1],
                        this.states[2][0]
                    ];
                    if(this.isStatesFilled(skew2)) { return this.states[0][2]; }

                    return -1;

                },
                isStatesFilled: function(states) {

                    return(
                        states[0] != -1 &&
                        states[0] == states[1] &&
                        states[1] == states[2]
                    );

                },
                isDraw: function() {

                    for(var i in this.states) {

                        var row = this.states[i];

                        for(var j in row) {

                            var state = row[j];

                            if(state == -1) {

                                return false;

                            }

                        }

                    }

                    return true;

                }
            },
            mounted: function() {

                this.init();

            }
        })

    </script>

</div>
</section>
</main>
<footer id="footer">
    <p class="js-scroll scroll-top scrollview"><a href="#area-2">Scroll</a></p>
<p class="js-pagetop scroll-top"><a href="#">Page Top</a></p>
   <small>フォント： <div id="scroll_to_top"><a href="https://rsms.me/inter/" target="_blank">https://rsms.me/inter/</a></div></small>  
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="particleText.js"></script>
<script src="menu.js"></script>
<script src="pic.js"></script>
</body>
</html>

