@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

@keyframes warn {
    0% {
        bottom: 18%;
        right: -100%;
    }
    10% {
        bottom: 18%;
        right: 5%;
    }
    90% {
        bottom: 18%;
        right: 5%;
    }
    100% {
        bottom: 18%;
        right: -100%;
    }
}

@keyframes load {
    0% {
        bottom: 10%;
        right: -100%;
    }
    10% {
        bottom: 10%;
        right: 5%;
    }
    90% {
        bottom: 10%;
        right: 5%;
    }
    100% {
        bottom: 10%;
        right: -100%;
    }
}

@keyframes none {
    0% {
        bottom: 10%;
        right: -100%;
    }
    100% {
        bottom: 10%;
        right: -100%;
    }
}

@keyframes fade{
    0%{
        opacity: 100%;
    }
    99%{
        z-index: 10000;
        opacity: 0%;
    }
    100%{
        z-index: -10000;
    }
}

@keyframes fade-b{
    0%{
        opacity: 0%;
        display:none;
    }
    50%{
        opacity: 0%;
        display:none;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes viewb {
    0% {
        opacity: 0%;
        height: 0%;
    }
    100% {
        opacity: 90%;
        z-index: 10000;
        height: 100%;
    }
}

@keyframes viewbu {
    0% {
        z-index: 10000;
        opacity: 90%;
        height: 100%;
    }
    99% {
        z-index: 10000;
    }
    100% {
        opacity: 0%;
        z-index: -10000;
        height: 0%;
    }
}

@keyframes bg1 {
    0% {
        opacity: 100%;
    }
    9% {
        opacity: 100%;
    }
    10% {
        opacity: 100%;
    }
    11% {
        opacity: 0%;
    }
    29% {
        opacity: 0%;
    }
    31% {
        opacity: 0%;
    }
    49% {
        opacity: 0%;
    }
    51% {
        opacity: 0%;
    }
    69% {
        opacity: 0%;
    }
    71% {
        opacity: 0%;
    }
    89% {
        opacity: 0%;
    }
    90% {
        opacity: 100%;
    }
    91% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes bg2 {
    0% {
        opacity: 0%;
    }
    9% {
        opacity: 0%;
    }
    10% {
        opacity: 100%;
    }
    11% {
        opacity: 100%;
    }
    29% {
        opacity: 100%;
    }
    30% {
        opacity: 100%;
    }
    31% {
        opacity: 0%;
    }
    49% {
        opacity: 0%;
    }
    51% {
        opacity: 0%;
    }
    69% {
        opacity: 0%;
    }
    71% {
        opacity: 0%;
    }
    89% {
        opacity: 0%;
    }
    91% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bg3 {
    0% {
        opacity: 0%;
    }
    9% {
        opacity: 0%;
    }
    11% {
        opacity: 0%;
    }
    29% {
        opacity: 0%;
    }
    30% {
        opacity: 100%;
    }
    31% {
        opacity: 100%;
    }
    49% {
        opacity: 100%;
    }
    50% {
        opacity: 100%;
    }
    51% {
        opacity: 0%;
    }
    69% {
        opacity: 0%;
    }
    71% {
        opacity: 0%;
    }
    89% {
        opacity: 0%;
    }
    91% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bg4 {
    0% {
        opacity: 0%;
    }
    9% {
        opacity: 0%;
    }
    11% {
        opacity: 0%;
    }
    29% {
        opacity: 0%;
    }
    31% {
        opacity: 0%;
    }
    49% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    51% {
        opacity: 100%;
    }
    69% {
        opacity: 100%;
    }
    70% {
        opacity: 100%;
    }
    71% {
        opacity: 0%;
    }
    89% {
        opacity: 0%;
    }
    91% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bg5 {
    0% {
        opacity: 0%;
    }
    9% {
        opacity: 0%;
    }
    11% {
        opacity: 0%;
    }
    29% {
        opacity: 0%;
    }
    31% {
        opacity: 0%;
    }
    49% {
        opacity: 0%;
    }
    51% {
        opacity: 0%;
    }
    69% {
        opacity: 0%;
    }
    70% {
        opacity: 100%;
    }
    71% {
        opacity: 100%;
    }
    89% {
        opacity: 100%;
    }
    90% {
        opacity: 100%;
    }
    91% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes bg-tb {
    0% {
        background-color: rgb(52, 14, 70);
    }
    9% {
        background-color: rgb(52, 14, 70);
    }
    11% {
        background-color: rgb(71, 22, 22);
    }
    29% {
        background-color: rgb(71, 22, 22);
    }
    31% {
        background-color: rgb(94, 82, 32);
    }
    49% {
        background-color: rgb(94, 82, 32);
    }
    51% {
        background-color: rgb(30, 71, 22);
    }
    69% {
        background-color: rgb(30, 71, 22);
    }
    71% {
        background-color: rgb(26, 53, 75);
    }
    89% {
        background-color: rgb(26, 53, 75);
    }
    91% {
        background-color: rgb(52, 14, 70);
    }
    100% {
        background-color: rgb(52, 14, 70);
    }
}

@keyframes bg-ic {
    0% {
        background-color: rgb(196, 161, 212);
    }
    9% {
        background-color: rgb(196, 161, 212);
    }
    11% {
        background-color: rgb(190, 141, 141);
    }
    29% {
        background-color: rgb(190, 141, 141);
    }
    31% {
        background-color: rgb(185, 178, 148);
    }
    49% {
        background-color: rgb(185, 178, 148);
    }
    51% {
        background-color: rgb(170, 196, 165);
    }
    69% {
        background-color: rgb(170, 196, 165);
    }
    71% {
        background-color: rgb(152, 179, 201);
    }
    89% {
        background-color: rgb(152, 179, 201);
    }
    91% {
        background-color: rgb(196, 161, 212);
    }
    100% {
        background-color: rgb(196, 161, 212);
    }
}

@keyframes bg-ch-ic {
    0% {
        color: rgb(196, 161, 212);
    }
    9% {
        color: rgb(196, 161, 212);
    }
    11% {
        color: rgb(190, 141, 141);
    }
    29% {
        color: rgb(190, 141, 141);
    }
    31% {
        color: rgb(185, 178, 148);
    }
    49% {
        color: rgb(185, 178, 148);
    }
    51% {
        color: rgb(170, 196, 165);
    }
    69% {
        color: rgb(170, 196, 165);
    }
    71% {
        color: rgb(152, 179, 201);
    }
    89% {
        color: rgb(152, 179, 201);
    }
    91% {
        color: rgb(196, 161, 212);
    }
    100% {
        color: rgb(196, 161, 212);
    }
}

@keyframes bg-ch {
    0% {
        color: rgb(249, 237, 255);
    }
    9% {
        color: rgb(249, 237, 255);
    }
    11% {
        color: rgb(255, 237, 237);
    }
    29% {
        color: rgb(255, 237, 237);
    }
    31% {
        color: rgb(255, 251, 235);
    }
    49% {
        color: rgb(255, 251, 235);
    }
    51% {
        color: rgb(240, 255, 237);
    }
    69% {
        color: rgb(240, 255, 237);
    }
    71% {
        color: rgb(240, 249, 255);
    }
    89% {
        color: rgb(240, 249, 255);
    }
    91% {
        color: rgb(249, 237, 255);
    }
    100% {
        color: rgb(249, 237, 255);
    }
}

@keyframes bg-ic-ch {
    0% {
        background-color: rgb(249, 237, 255);
    }
    9% {
        background-color: rgb(249, 237, 255);
    }
    11% {
        background-color: rgb(255, 237, 237);
    }
    29% {
        background-color: rgb(255, 237, 237);
    }
    31% {
        background-color: rgb(255, 251, 235);
    }
    49% {
        background-color: rgb(255, 251, 235);
    }
    51% {
        background-color: rgb(240, 255, 237);
    }
    69% {
        background-color: rgb(240, 255, 237);
    }
    71% {
        background-color: rgb(240, 249, 255);
    }
    89% {
        background-color: rgb(240, 249, 255);
    }
    91% {
        background-color: rgb(249, 237, 255);
    }
    100% {
        background-color: rgb(249, 237, 255);
    }
}

.b1 {
    background: linear-gradient(black, rgb(81, 19, 110));
    animation-name: bg1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.b2 {
    background: linear-gradient(black, rgb(100, 30, 30));
    animation-name: bg2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.b3 {
    background: linear-gradient(black, rgb(121, 106, 40));
    animation-name: bg3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.b4 {
    background: linear-gradient(black, rgb(43, 104, 31));
    animation-name: bg4;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.b5 {
    background: linear-gradient(black, rgb(38, 77, 109));
    animation-name: bg5;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.font {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 500;
}

body {
    text-align: center;
    animation-name: bg, bg-ch;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background: black;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    animation-name: bg-ch-ic;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

iframe {
    border-radius: 10px;
    transition: .1s;
}

iframe:hover {
    border-radius: 0px;
}

.padd {
    padding-top: 100px;
}

.padds {
    padding-top: 10px;
}

.top {
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation-name: bg-tb;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.icon {
    border-radius: 10px;
    transition: .1s ease-in-out;
    animation-name: bg-ic;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.icon:hover {
    border-radius: 0px;
}

.chicon {
    border-radius: 10px;
    transition: .1s ease-in-out;
    animation-name: bg-ic-ch;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.chicon:hover {
    border-radius: 0px;
}

.snsicon {
    border-radius: 7px;
    transition: .1s ease-in-out;
    animation-name: bg-ic;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.snsicon:hover {
    border-radius: 0px;
}

.bottom {
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    animation-name: bg-tb;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.warnb {
    position: fixed;
    background-color: white;
    color: black;
    padding: 50px;
    cursor: pointer;
    height: 500px;
    width: 300px;
    z-index: -10000;
    opacity: 0%;
}
/* ロード完了表示 */
.load {
    background-color: white;
    color: black;
    position: fixed;
    padding: 10px;
    border-radius: 7px;
    animation-duration: 8s;
    bottom: 10%;
    right: -100%;
    z-index: 100;
}
/* 画面サイズ警告 */
.warn {
    background-color: white;
    color: black;
    position: fixed;
    padding: 10px;
    border-radius: 7px;
    animation-duration: 8s;
    bottom: 18%;
    right: -100%;
    cursor: pointer;
    z-index: 100;
}

.loadmark {
    background-color: white;
    color: black;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    cursor: wait;
}

.okload {
    opacity: 0%;
    animation-duration: .5s;
    animation-name: fade;
    z-index: -10000;
}

.okload-b {
    animation-duration: .5s;
    animation-name: fade-b;
}

.ibox{
    display:none;
}

.viewb {
    z-index: 10000;
    opacity: 90%;
    animation-duration: .25s;
    animation-name: viewb;
    width: 100%;
    height: 100%;
}

.viewbu {
    z-index: -10000;
    opacity: 0%;
    animation-duration: .25s;
    animation-name: viewbu;
    width: 100%;
    height: 100%;
}

.black {
    color: black;
}

.maincnt{
    position: sticky;
}

.blog{
    position: sticky;
}

@keyframes viewanim {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hideanim {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.viewcnt{
    z-index: 0;
    opacity: 100%;
    animation-name: viewanim;
    animation-duration: .5s;
}

.hidecnt{
    z-index: -10000;
    opacity: 0%;
    animation-name: hideanim;
    animation-duration: .5s;
}