@media (prefers-color-scheme: dark) {
    #container {
      background-color: #000;
      color: #fff;
      transition: 1s;
    }
  a {
    color: skyblue;
    text-decoration: none;
  }
  body {
  background:black;
  }
  }

  a {
    color: deepskyblue;
    text-decoration: none;
  }