@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+JP&display=swap');

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: .2s;
}

iframe {
    border-radius: 10px;
    transition: .2s;
}

iframe:hover {
    border-radius: 0px;
}

ul {
    padding-left: 0;
}

ul li {
    width: fit-content;
    margin: auto;
}

.icon {
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.icon:hover {
    border-radius: 0px;
}

.chicon {
    border-radius: 10px;
    transition: .2s ease-in-out;
}

.chicon:hover {
    border-radius: 0px;
}

.snsicon {
    border-radius: 7px;
    transition: .2s ease-in-out;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.snsicon:hover {
    border-radius: 0px;
}

.warnb {
    position: fixed;
    padding: 50px;
    cursor: pointer;
    height: 500px;
    width: 300px;
    z-index: -10000;
    opacity: 0%;
}



.side {
    position: fixed;
    padding: 10px;
    border-radius: 7px;
    top: 10%;
    right: -100%;
    z-index: 100;
    transition: 1s;
}

.okload {
    opacity: 0%;
    animation-duration: .5s;
    animation-name: fade;
    z-index: -10000;
}

.okload-b {
    animation-duration: .5s;
    animation-name: fade-b;
}

.ibox{
    display:none;
}

.blog{
    position: fixed;
    display: flex;
    flex-flow: row wrap;

}

.clink{
    position: fixed;
    display: flex;
    flex-flow: row wrap;

}

.blogcnt {
    display: flex;
    flex-flow: row wrap;
}

.padd {
    padding-top: 30px;
}

.padds {
    padding-top: 10px;
}



.viewcnt{
    z-index: 0;
    opacity: 100%;
    animation-name: viewanim;
    animation-duration: .5s;
    position: sticky;
}

.hidecnt{
    z-index: -10000;
    opacity: 0%;
    animation-name: hideanim;
    animation-duration: .5s;
    position: fixed;
}

.scrltop {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1;
    opacity: 0%;
}

.scrlbtm {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 1;
    opacity: 100%;
}

.pullsid {
    position: fixed;
    z-index: 101;
    right: 2%;
    top: 2%;
}

.pushsid {
    position: fixed;
    z-index: 100;
    right: 2%;
    top: 2%;
    opacity: 0%;
}
.pullsidd {
    z-index: 102;
}

.pull {
    animation-name: pull;
    animation-duration: 1s;
    transition: .2s;
    right: 2%;
    
}

.push {
    animation-name: push;
    animation-duration: 1s;
    transition: .2s;
}