body {
    padding: 50px;
    background-color: rgb(225, 225, 225);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(46, 46, 46);
        color: white;
    }
}

.rad {
    border-radius: 20px;
    text-align: center;
}

small {
    color: gray;
}

a {
    color: gray;
}